In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
plt.rcParams['figure.figsize'] = [15,9]

In [2]:
df = pd.read_csv('data/crypto.csv')

In [3]:
df

         Asset_Name   timestamp      Close
0      Bitcoin Cash  2018-01-01  2374.5900
1      Bitcoin Cash  2018-01-02  2323.3200
2      Bitcoin Cash  2018-01-03  2551.2850
3      Bitcoin Cash  2018-01-04  2557.6467
4      Bitcoin Cash  2018-01-05  2354.4433
...             ...         ...        ...
18097      Dogecoin  2021-09-17     0.2416
18098      Dogecoin  2021-09-18     0.2401
18099      Dogecoin  2021-09-19     0.2413
18100      Dogecoin  2021-09-20     0.2331
18101      Dogecoin  2021-09-21     0.2083

[18102 rows x 3 columns]

In [1]:
bit = df[df['Asset_Name'] == 'Bitcoin'].copy()
bit

NameError: name 'df' is not defined

In [5]:
bit

     Asset_Name   timestamp       Close
2720    Bitcoin  2018-01-01  13850.1760
2721    Bitcoin  2018-01-02  13468.6980
2722    Bitcoin  2018-01-03  14743.4240
2723    Bitcoin  2018-01-04  15107.7920
2724    Bitcoin  2018-01-05  15158.4920
...         ...         ...         ...
4075    Bitcoin  2021-09-17  47769.5096
4076    Bitcoin  2021-09-18  47333.4914
4077    Bitcoin  2021-09-19  48295.5087
4078    Bitcoin  2021-09-20  47272.4743
4079    Bitcoin  2021-09-21  43002.5050

[1360 rows x 3 columns]

In [6]:
value = bit['Close']
bit2 = bit[(value > 20000)]
bit2

In [7]:
bit2

     Asset_Name   timestamp       Close
3801    Bitcoin  2020-12-17  21363.8475
3802    Bitcoin  2020-12-18  22817.6387
3803    Bitcoin  2020-12-19  23154.7757
3804    Bitcoin  2020-12-20  23801.4457
3805    Bitcoin  2020-12-21  23440.4929
...         ...         ...         ...
4075    Bitcoin  2021-09-17  47769.5096
4076    Bitcoin  2021-09-18  47333.4914
4077    Bitcoin  2021-09-19  48295.5087
4078    Bitcoin  2021-09-20  47272.4743
4079    Bitcoin  2021-09-21  43002.5050

[279 rows x 3 columns]

In [8]:
result = count_row = bit2.shape[0]
print(result)

279

In [9]:
p = 279/1360
print(p)        #Q1) probability = 0.21

0.2051470588235294

In [10]:
bit['profit'] = bit['Close'] - 20000
bit['profit*p'] = bit['profit'] * (1/1360)
print(bit)
print(bit['profit*p'].sum())

     Asset_Name   timestamp       Close      profit   profit*p
2720    Bitcoin  2018-01-01  13850.1760  -6149.8240  -4.521929
2721    Bitcoin  2018-01-02  13468.6980  -6531.3020  -4.802428
2722    Bitcoin  2018-01-03  14743.4240  -5256.5760  -3.865129
2723    Bitcoin  2018-01-04  15107.7920  -4892.2080  -3.597212
2724    Bitcoin  2018-01-05  15158.4920  -4841.5080  -3.559932
...         ...         ...         ...         ...        ...
4075    Bitcoin  2021-09-17  47769.5096  27769.5096  20.418757
4076    Bitcoin  2021-09-18  47333.4914  27333.4914  20.098155
4077    Bitcoin  2021-09-19  48295.5087  28295.5087  20.805521
4078    Bitcoin  2021-09-20  47272.4743  27272.4743  20.053290
4079    Bitcoin  2021-09-21  43002.5050  23002.5050  16.913607

[1360 rows x 5 columns]
-4365.341555147057

In [11]:
# Q2a) As the expected loss is 4365.341555147057 if you sell I would advise not to sell. As you don't buy anymore bitcoin you wont make a profit
#      on top of your £20,000
# Q2b) If you went back with cash, you would make a profit as youre buying at a lower price for one bitcoin. You would average a profit of 4365
# Q3) Don't buy bitcoin at all because in 2021 prices were at a all time high and in 2022 they were lower than 2021